body{
    text-align: center;
    background: linear-gradient(rgb(234, 178, 188),rgb(70, 129, 44)) ;
}
.boxContainer{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    margin: 2rem;
    border: 2px solid rgb(34, 32, 32);
    border-radius: 10%;
    text-align: center;
}
.red{
    background-color: rgb(214, 53, 53);
}
.yellow{
    background-color: rgb(241, 241, 43);
}
.blue{
    background-color: rgb(64, 64, 177);
}
.green{
    background-color: rgb(51, 158, 51);
}
.white{
    background-color: white;
}
.gray{
    background-color: gray;
}